In [53]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [54]:
raw_mail_data = pd.read_csv('spam.csv')

In [55]:
print(raw_mail_data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ï¿½_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [56]:
#Replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [57]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [58]:
#checking the number of rows and columns
mail_data.shape

(5572, 5)

In [59]:
#removing unwanted columns with null strings
mail_data = mail_data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
mail_data = mail_data.rename(columns={"v2" : "Message", "v1":"Category"})
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [60]:
mail_data.shape

(5572, 2)

In [61]:
#Label Encoding
mail_data.loc[mail_data['Category']=='spam', 'Category',] = 0
mail_data.loc[mail_data['Category']=='ham', 'Category',] = 1

In [62]:
#Separting the data as texts and labels

X = mail_data['Message']
Y = mail_data['Category']

In [63]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ï¿½_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [64]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [65]:
#Spliting the data into test and training data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 10)

In [66]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

In [67]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform (X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [68]:
print(X_train)

5281               And how you will do that, princess? :)
1300    Those cocksuckers. If it makes you feel better...
5128    Wot about on wed nite I am 3 then but only til 9!
1808    Aiyo a bit pai seh ï¿½_ noe... Scared he dun rem...
856                         Going to take your babe out ?
                              ...
1180                           I'm in chennai velachery:)
3441    Save money on wedding lingerie at www.bridal.p...
1344                     Were somewhere on Fredericksburg
4623    Jus finish blowing my hair. U finish dinner al...
1289    Hey...Great deal...Farm tour 9am to 5pm $95/pa...
Name: Message, Length: 4457, dtype: object

In [69]:
print(X_train_features)

  (0, 5224)	1.0
  (1, 7129)	0.2950486239663227
  (1, 1149)	0.22213445141899318
  (1, 3622)	0.3056372583510937
  (1, 4666)	0.3205611003164585
  (1, 2970)	0.3056372583510937
  (1, 7326)	0.3205611003164585
  (1, 3599)	0.3205611003164585
  (1, 1273)	0.2162798012470006
  (1, 2715)	0.40416965820279876
  (1, 4176)	0.2358104883587932
  (1, 1818)	0.3205611003164585
  (2, 6664)	0.4654202581212151
  (2, 4622)	0.4836244486792649
  (2, 7175)	0.5652136576518605
  (2, 7327)	0.4796091087269546
  (3, 3927)	0.23023489712530823
  (3, 4797)	0.2523959342110261
  (3, 4052)	0.2869424016674529
  (3, 3275)	0.26768298959062703
  (3, 2240)	0.26080900788451006
  (3, 5490)	0.2869424016674529
  (3, 2418)	0.2093359868497037
  (3, 5732)	0.2869424016674529
  (3, 4629)	0.2476769686093981
  :	:
  (4453, 1469)	0.26998715149094793
  (4453, 4541)	0.22195932904459306
  (4453, 2178)	0.22969008173546485
  (4453, 1744)	0.2319260027065648
  (4453, 6880)	0.1856752236534643
  (4453, 4412)	0.19386485392218164
  (4453, 7358)	0.173501131490642
  (4454, 2884)	1.0
  (4455, 1341)	0.4771824960005484
  (4455, 2265)	0.33458127982194924
  (4455, 3734)	0.33458127982194924
  (4455, 2767)	0.6505450429955705
  (4455, 3193)	0.35383434956203885
  (4456, 2193)	0.3424045146785146
  (4456, 4924)	0.3424045146785146
  (4456, 712)	0.3424045146785146
  (4456, 6761)	0.29921281757447893
  (4456, 2690)	0.3264637443846612
  (4456, 553)	0.3264637443846612
  (4456, 719)	0.3063807489164154
  (4456, 2126)	0.2832720472806255
  (4456, 3132)	0.1936299432138347
  (4456, 313)	0.22562333246010677
  (4456, 3299)	0.19274642789816177
  (4456, 525)	0.21431317594377794

In [70]:
#Training the model
model = LogisticRegression()

model.fit(X_train_features, Y_train)

LogisticRegression()

In [71]:
#Evaluating the training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

print('Accuracy on training data:', accuracy_on_training_data*100,'%')

Accuracy on training data: 97.06080323087278 %

In [72]:
#Prediction on training data

prediction_on_testing_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_testing_data)

print('Accuracy on test data:',accuracy_on_test_data*100,'%')

Accuracy on test data: 96.23318385650225 %

In [78]:
#Building a predictive system
input_mail = ["WINNER!! As a valued network customer you have been selected to receivea Ã¥Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]

#convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_data_features)

if prediction==[1]:
    mail = 'Ham mail'
else:
    mail = 'Spam mail'
print('The message',input_mail,'is an',mail)

The message ['WINNER!! As a valued network customer you have been selected to receivea Ã¥Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.'] is an Spam mail